<div class="jumbotron">
    <h1>OAuthBearer example using Katana</h1>
    <p>'Get' to http://localhost:&lt;port>/2548/api/values is decorated by the [Authorize] attribute</p>
    <p class="lead">Katana runs on top of ASP.NET.</p>
    <p><a href="http://katanaproject.codeplex.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div>
        <h2>OAuthBearer</h2>
        <p>Uses ActiveDirectoryFederationServicesBearerAuthenticationExtensions and AzureAD</p>
        <p><a class="btn btn-default" href="http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Security.ActiveDirectory/ActiveDirectoryFederationServicesBearerAuthenticationExtensions.cs">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div>
        <h2>For more samples using Katana and Asp.Net see AzureAD Samples</h2>
        <p><a class="btn btn-default" href="https://github.com/azure-samples?query=active-directory">Learn more &raquo;</a></p>
    </div>
</div>
